#interactive.viewport {
    position: relative; 
    width: 100%; 
    height: auto; 
    overflow: hidden; 
    text-align: center;
}
        
#interactive.viewport > canvas, #interactive.viewport > video {
    max-width: 100%;width: 100%;
}
        
canvas.drawing, canvas.drawingBuffer {
    position: absolute; left: 0; top: 0;
}

#transmed-logo {
    margin-top: 15px!important;
}

#div-input-button {
    margin-top:50px!important
}

#messageToTransmed > #message > #first-part {
    font-size: 60px; 
}

#messageToTransmed > #message > #snd-part {
    font-size: 80px;;
}

@media only screen and (max-width: 800px) { 
    #messageToTransmed > #message > #first-part {
        font-size: 30px; 
    }
    
    #messageToTransmed > #message > #snd-part {
        font-size: 40px;;
    }

}


@media only screen and (max-width: 500px){
    #transmed-logo {
        height: 120px!important;
    }
}